body{
  margin: 0;
  height: 100vh;
  width: 100vw;
  font-family: 'Montserrat', sans-serif;
}
.container{
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background-color: #D0BFFF;
  display: grid;
  padding: 1.25rem;
  gap: 1.5rem;
  grid-template-columns: 3fr 7fr;
}

.inner-contz{
  background-color: #FFFFFF;
  border-radius: 1.25rem;
  filter: drop-shadow(-0.1rem 0.1rem 0.25rem #706C61);
  box-sizing: border-box;
  overflow: hidden;
  
}

#left-container{
  display: flex;
  flex-direction: column;
}
#right-container{
  display:flex;
  flex-direction: column;
  overflow: hidden;
}
#graph-container{
  flex-grow: 1;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 2.5rem;
  overflow-x: scroll; 
  margin: 4rem;
  border-left: 3px solid gray;
  border-bottom: 3px solid gray;
  gap: 2rem;
  padding-left: 2rem;
  align-items: end;
}
#graph-container::-webkit-scrollbar{
  display: none;
}
.bar-graphs{
  
}
#inputzz{
  padding-top: 1rem;
  justify-items: center;
  display: flex;
  flex-direction: column;
  margin: 1.2rem;
}
#item-container{
  flex-grow: 1;
  overflow-y: scroll;
  scroll-behavior: smooth;
  justify-items: center;
  display: flex;
  flex-direction: column;
  margin: 0rem 1.2rem 2.2rem 1.2rem;
  box-sizing: border-box;
  position: relative;
}
#item-container::-webkit-scrollbar{
  display: none;
}


label{
  width: 90%;
  align-self: center;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
}

input{
  align-self: center;
  width: 90%;
  height: 3rem;
  font-size: 1.1rem;
  box-sizing: border-box;
  padding-left: 0.5rem;
  border: 1px #333 solid;
  border-radius: 2px;
}
.error{
  background-color: rgba(249, 208, 208, 0.5);
  border: 1px #333 solid;
  border-radius: 2px;
}

input:focus{
  outline: none;
}
@keyframes float-pos{
  0%{
    transform: rotate(0deg);
  }
  25%{
    transform: rotate(0.5deg);
  }
  50%{
    transform: rotate(0deg);
  }
  75%{
    transform: rotate(-0.5deg);
  }
  100%{
    transform: rotate(0deg);
  }
}
@keyframes float-neg{
  0%{
    transform: rotate(0deg);
  }
  25%{
    transform: rotate(-0.5deg);
  }
  50%{
    transform: rotate(0deg);
  }
  75%{
    transform: rotate(0.5deg);
  }
  100%{
    transform: rotate(0deg);
  }
}
#items{
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 1fr;
  grid-auto-rows: 3rem;
  margin: 1.2rem;
}
.ani-item{
  opacity: 1 !important ;
}

.item{
  background-color: #ecf2ff80;
  border: 1px #706C61 solid;
  width: 100%;
  justify-self: center;
  border-radius:0.3rem;
  display: flex;
  opacity: 1;
  position: relative;
}

#items .ani-item:nth-child(even){
  animation: float-pos 10s infinite;
}

#items .ani-item:nth-child(odd){
  animation: float-neg 10s infinite;
}

hr{
  margin: 0 1rem ;
}

h1{
  text-align: center;
  margin: 1rem;
  font-family: 'Goldman', sans-serif;
  font-size: 3rem;
  color: #D0BFFF;
  background-clip: text;
  background: -webkit-linear-gradient(#333,#ecf2ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h4{
  text-align: center;
  margin: auto;
  color: #333;
}

h3{
  text-align: center;
  margin: auto;
  color: #777;
}

#noitems{
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
  align-items: center;
}

.edit-btn{
  right: 2.3rem;

}
.del-btn{
  right: 0.4rem;
}
.btn{
  position: absolute;
  height: 1.5rem;
  width: 1.5rem;
  align-self: center;
  border: 1px solid black;
  background-color: rgba(51, 51, 51, 0.3);
  opacity: 0;
  transition: 0.8s ease-in-out;
}

.item:hover .btn{
  opacity: 1;
}
